{% extends 'base.html' %}

{% block content %}

<div class="h-full flex flex-col justify-center items-center my-32">
    <div class="w-4/5 h-full flex flex-col justify-center items-start"> <!-- Modified this line -->
        <div class="border-b-2 w-full border-gray-800 mb-4 pb-2">
            <h1 class="text-9xl font-extrabold text-gray-800 pb-6">Login</h1>
        </div>
        <div class="flex flex-col items-start justify-start w-full h-full mt-6">

            <form class="flex flex-col justify-start items-start w-full h-full">
                <label class="flex items-center mb-6 w-1/2">
                    <span class="mr-2 text-gray-600">Email:</span>
                    <input class="flex-1 p-3 outline-none w-1/2 text-gray-950 bg-transparent border border-gray-900 rounded-full placeholder-gray-900 hover:bg-gray-300 pl-8 py-4" type="email" placeholder="Email">
                </label>
                <label class="flex items-center mb-3 w-1/2">
                    <span class="mr-2 text-gray-600">Password:</span>
                    <input class="flex-1 p-3 outline-none w-1/2 text-gray-950 bg-transparent border border-gray-900 rounded-full placeholder-gray-900 hover:bg-gray-300 px-8 py-4" type="password" placeholder="Password">
                </label>
                <a class="text-gray-600 hover:underline my-4" href="forgot_password_page.html">Forgot Password?</a>
                <button class="bg-red-800 hover:bg-red-900 text-white mt-2 font-bold py-4 px-8 rounded-full border-2 border-gray-800 focus:outline-none focus:shadow-outline" type="submit">
                    Login
                </button>
            </form>
                    
                     
        </div>
    </div>    
</div>

<script>
        const imageInput = document.getElementById('imageInput');
        const previewImage = document.getElementById('previewImage');

        imageInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                previewImage.src = e.target.result;
            };

            reader.readAsDataURL(file);
        });
</script>

{% endblock %}
