{% extends 'base.html' %}

{% block content %}
<div class="h-full flex flex-col justify-center items-center my-32">
    <div class="w-4/5 h-full flex flex-col justify-center items-start"> <!-- Modified this line -->
        <div class="border-b-2 w-full border-gray-800 mb-4 pb-2">
            <h1 class="text-9xl font-extrabold text-gray-800">Seller</h1>
        </div>
        <div class="flex flex-col items-start justify-start w-full">
            <form class="flex flex-col justify-start items-start w-full max-w-lg">
                <input class="flex-1 p-2 outline-none w-36 text-gray-950 bg-transparent border border-gray-900 border-r-0 rounded-none rounded-r-md placeholder-gray-900 hover:bg-gray-300 rounded-tr-none rounded-br-none pl-2" type="text" placeholder="First Name">
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-700 placeholder-opacity-50" type="text" placeholder="Last Name">
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-700 placeholder-opacity-50" type="email" placeholder="Email">
                <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-700 placeholder-opacity-50" placeholder="Description"></textarea>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-700 placeholder-opacity-50" type="text" placeholder="Brand Name">
                <button class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-6 rounded-full border-2 border-gray-800 focus:outline-none focus:shadow-outline" type="submit">
                    Register
                </button>                
            </form>            
        </div>
    </div>    
</div>

{% endblock %}
